@import "components/mixin";
@import "components/reset";
@import "components/variable";

html, body {
  height: 100%;
  width: 100%;
}

.site {
  height: 100%; width: 100%;
  position: relative;
}

/*
 * NAVIGATION
 */

.site-header {
  display: flex;
  flex-flow: row wrap;

  position: $nav-position;
  z-index: $nav-index;
  width: 100%;
  height: $nav-height;

  @include small-device {
    flex-flow: column nowrap;
    position: inherit;
    height: auto;
  }

  .nav-wrap {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 100%; width: 100%;
  }

  .nav-left-items {
    flex: $nav-left-width;
    min-width: $nav-left-min-with;
    height: 100%;
    .nav-wrap {
      justify-content: center; }

    @include small-device {
      width: 100%;
      padding: 30px 0;
    }
  }

  .nav-right-items {
    flex: $nav-right-width;

    nav, .menu-navigation-connecte-container, .menu-navigation-deconnecte-container {
      width: 100%;

      #menu-navigation-connecte,
      #menu-navigation-deconnecte {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;

        @include small-device {
          flex-flow: column wrap;
          justify-content: center;
        }

        .menu-item {
          padding: $nav-right-item-padding;

          @include small-device {
            border: inherit;
          }

          a {
            @extend %oswald-medium;
            @include font-size(18px);
            text:{decoration: none; transform: uppercase}
            letter-spacing: 0.9px;
            color: $color-white;
          }
        }
      }
    }
  }
}

/*
 * HOMEPAGE
 */

.site-content-contain .site-content main {
  display: flex;
  flex-flow: column nowrap;

  .home-element {

    &.banner {
      position: relative;
      box-sizing: border-box;
      padding-top: $nav-height;
      height: $home-banner-height; width: 100%;

      @include small-device {
        padding-top: inherit;
        height: inherit;
      }

      .banner-bckg {
        position: absolute;
        top: 0; left: 0;
        background-color: #000;
        height: 100%; width: 100%;
        img{
          object-fit: cover;
          width: 100%; height: 100%;
          @include opacity(0.55);
        }
        z-index: 1;
      }

      .banner-content {
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
        color: $color-white;

        .wrap-content:first-of-type {
          margin-bottom: 50px;
        }

        h1 {
          @extend %oswald-bold;
          @include font-size(75px);
          text-transform: uppercase;
        }

        p {
          @extend %source-sans-regular;
          @include font-size(18px);
          text:{transform: uppercase; align: right}
          line-height: 1.3em;
        }
      }
    }

    &.activity {
      height: $home-activity-height;
      background-color: $color-orange;
      color: $color-white;

      @include small-device {
        height: inherit;
      }

      .wrap-list {
        aside {
          .title-content {
            text-align: center;
            padding: $hban-title-padding;
            max-width: 900px;

            h2 {
              margin-bottom: 25px;
              @extend %oswald-bold;
              @include font-size(25px);
            }

            p {
              @extend %source-sans-regular;
              @include font-size(22px);
            }
          }
        }

        article {
          max-width: 900px;
          margin: auto;

          .list-content li {
            h3 {
              @extend %oswald-bold;
              @include font-size(22px);
            }

            p {
              @extend %source-sans-regular;
              @include font-size(16px);
            }
          }
        }
      }
    }

    &.contact {
      height: $home-contact-height;

      .wrap {
        height: 100%; width: 50%;
        min-width: 250px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        margin: auto;
        background-color: $color-red;
        border:{radius: 25px 0 25px 0}
        transform: translateY(-50%);

        h3 {
          text:{transform: uppercase};
          @extend %source-sans-regular;
          @include font-size(21px);
          color: $color-white;
          a {
            color: $color-white;
            text:{decoration: none}
            @extend %oswald-bold;
            margin-left: 5px; }
        }
      }

      @include small-device {
        height: inherit;

        .wrap {
          height: inherit;
          padding: $home-contact-m-padding;

          button {
            margin-top: 10px;
          }
        }
      }
    }

    &.coach {
      height: $home-coach-height;

      @include small-device {
        height: inherit;
      }

      .wrap-list {
        aside {
          .coach-title-content {
            text-align: center;
            padding: $hban-title-padding;
            max-width: 500px;
          }
        }
        article {
          flex: 3;
        }
      }
    }

    &.partner {
      height: $home-partner-height;

      .wrap-list article .list-content {
        max-width: 600px;
        margin: auto;

        h3 {
        }
      }

      @include small-device {
        height: inherit;
      }
    }
  }
}


/*
 * GENERIC ELEMENT
 * ---------
 ** Home list
 */

.wrap-list {
  display: flex;
  flex-flow: column nowrap;

  height: 100%;

  article, aside {
    display: flex;
    flex: 1;
  }

  aside {
    align-items: center;
    justify-content: center;

    .title-content h2{
      text-transform: uppercase;
    }
  }

  article {
    align-items: flex-start;

    ul {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: space-between;
      min-width: $list-min-width;

      li {
        flex: 1;
        padding: $list-item-padding;
        text-align: center;

        h3 {
          padding: $list-item-title-padding;
          @include font-size($list-item-title-fsize);
          text:{transform: uppercase};
          font:{weight: 900};
        }
      }
    }
  }
}

.wrap-content {
  position: relative;
  padding: 0 ($sb-width + 25px);

  .sb {
    position: absolute;
    width: $sb-width; height: 100%;
    top: 0;

    &.left {
      left: 0; }
    &.right {
      right: 0; }

    .sb-top, .sb-bottom {
      height: 10%; }

    .sb-mid {
      height: 80%;
      position: relative;
      &.left {
        border-radius: 0 0 15px;
        .sb-round {
          @extend %sb-round;
          position: absolute;
          top: 5%; left: 0;
        }
      }  &.right {
        border-radius: 0 0 0 15px;
        .sb-round {
          @extend %sb-round;
          position: absolute;
          top: 5%; right: 0;
        }
      } &.orange { background-color: $color-orange;
      } &.red { background-color: $color-red;
      } &.white { background-color: $color-white }
    }
  }

}




