/*
Source -> http://zerosixthree.se/8-sass-mixins-you-must-have-in-your-toolbox/
 */

// Set a rem font size with pixel fallback
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}
/* Usage
p {
  @include font-size(14px)
}
 */


// Breakpoints
@mixin small-device {
  @media only screen and (max-width: 600px) {
    @content;
  }
}

@mixin large-device {
  @media only screen and (min-width: 1200px) {
    @content;
  }
}
/* Usage
.sidebar {
  @include bp-small {
    ...
  }
}
 */


// Animations and keyframes
@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}
/* Usage
@include keyframes(slide-down) {
  0% { opacity: 1; }
  90% { opacity: 0; }
}

.element {
  @include animation('slide-down 5s 3');
}
 */


// Transitions
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}
/* Usage
a {
  @include transition(color .3s ease);
}
 */


// Cross browser opacity
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}
/* Usage
.faded-text {
  @include opacity(0.8);
}
 */


// Visually hide an element
%visuallyhidden {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}
/* Usage
.visually-hidden {
  @extend %visuallyhidden;
}
 */
